@page
@model Assignment3_Group20.Pages.BreakfastCheckInModel

@{
    ViewData["Title"] = "BreakfastCheckIn";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>BreakfastCheckIn</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.Adults" class="control-label"></label>
                <input asp-for="Reservation.Adults" class="form-control" />
                <span asp-validation-for="Reservation.Adults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Children" class="control-label"></label>
                <input asp-for="Reservation.Children" class="form-control" />
                <span asp-validation-for="Reservation.Children" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.RoomNumber" class="control-label"></label>
                <input asp-for="Reservation.RoomNumber" class="form-control" />
                <span asp-validation-for="Reservation.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
